<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div id="new_comment"></div>
<div id="comments"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $('#comments').load('http://aquic.pythonanywhere.com/view_comments/1');
    console.log('Loaded comments');
    $('#new_comment').load('http://aquic.pythonanywhere.com/new_comment');
</script>
<script>
function sendform() {
    $('#submit').on('click', function () {
        console.log('Clicking button');
        console.log($('input#author_name').val());
        console.log($('#MessageForm').serialize());
        // send ajax
        $.ajax({
            url: "http://aquic.pythonanywhere.com/new_comment", // url where to submit the request
            type: "POST", // type of action POST || GET
            data: $('#MessageForm').serialize(), // post data || get data
            success: function (result) {
                $('#new_comment').html(result);
                console.log('Success!');
            }
        });
        return false;
    });
};
</script>
</div>
</body>
</html>