    <form name="new_message" id="MessageForm" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.author_name.label }}<br>
            {{ form.author_name(size=32) }}
            {% for error in form.author_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>
            {{ form.author_email.label }}<br>
            {{ form.author_email(size=32) }}
            {% for error in form.author_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.message }}
        </p>
        <p>{{ form.sign_up_newsletter() }} {{ form.sign_up_newsletter.label }}</p>
{#        {{ form.recaptcha }}#}
        <p><input id="submit" name="submit" type="button" value="Send" onclick="sendform()"/></p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    var csrf_token =  $('#csrf_token').attr('content');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>

<script>
function sendform() {
    $('#submit').on('click', function () {
        console.log('Clicking button');
        console.log($('input#author_name').val());
        console.log($('#MessageForm').serialize());
        // send ajax
        $.ajax({
            url: "http://aquic.pythonanywhere.com/new_comment", // url where to submit the request
            type: "POST", // type of action POST || GET
            data: $('#MessageForm').serialize(), // post data || get data
            success: function (result) {
                $('#new_comment').html(result);
                console.log('Success!');
            }
        });
        return false;
    });
};
</script>