<div id="TheForm">
    <form name="new_message" id="MessageForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.author_name.label(class="control-label") }}
            {% if form.author_name.errors %}
                {{ form.author_name(class="form-control is-invalid", size=32) }}
                {% for error in form.author_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.author_name(class="form-control", size=32) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.author_email.label(class="control-label") }}
            {% if form.author_email.errors %}
                {{ form.author_email(class="form-control is-invalid", size=32) }}
                {% for error in form.author_email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.author_email(class="form-control", size=32) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.message.label(class="control-label") }}
            {% if form.message.errors %}
                {{ form.message(class="form-control is-invalid") }}
                {% for error in form.message.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.message(class="form-control") }}
            {% endif %}
        </div>
        <p>{{ form.sign_up_newsletter() }} {{ form.sign_up_newsletter.label }}</p>
        {{ form.recaptcha }}
        <p><input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary"/></p>
    </form>
</div>
<script>
    $(document).ready(function(){
        $('form').submit(function (e) {
            $('#thread_id').val(this_page_id);
            console.log(this_page_id);
            var url = "http://aquic.pythonanywhere.com/new_comment"; // send the form data here.
            console.log($('#MessageForm').serialize());
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    $('#TheForm').html(data);
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        return false;
    });
</script>