asn1crypto==0.22.0
beautifulsoup4==4.6.0
boto==2.44.0
certifi==2017.4.17
chardet==3.0.4
cryptography==1.9
duplicity==0.7.12
enum34==1.1.6
gdata==2.0.18
html5lib==0.999999999
idna==2.5
ipaddress==1.0.17
lockfile==0.12.2
lxml==4.0.0
mercurial==4.3.1
numpy==1.12.1
olefile==0.44
pbr==2.0.0
pexpect==4.2.1
Pillow==4.1.1
pycrypto==2.6.1
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.24.1
pyOpenSSL==16.2.0
pyserial==3.4
Pyste==0.9.10
python-cloudfiles==1.7.10
requests==2.18.1
scour==0.32
six==1.10.0
stevedore==1.25.0
urllib3==1.21.1
virtualenv==15.1.0
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
webencodings==0.5
